/*======================================*/
/* General Site Set Up */
/*======================================*/

body {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
	height: 100vh;
	background-color:#fff;
}

/*======================================*/
/* Reuseable Components */
/*======================================*/

/*======================================*/
/* Headers */
/*======================================*/
h1 {
	font-size: 313%;
}


/*======================================*/
/* Header Section */
/*======================================*/

header {
	background-color: #092532;
	background-image: linear-gradient(#092532d7, #092532d7), url(images/hero.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 7% 15%;
}

.title {
	width: 100%;
}

.quote,
.credit {
	color: #e1ffc2;
}

.credit {
	font-size: 90%;
}

.quotation {
	text-align: right;
	margin-top: 20px;
}

/*===== Nav-Bar =====*/
.full-nav {
	width: 100%;
	align-items: baseline;
}

.nav-item {
	align-items: stretch;
}

.navi {
	font-size: 20px;
	margin: 30px 50px auto; 
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
}

#home-link:link,
#home-link:visited,
#gal-link:link,
#gal-link:visited,
#cont-link:link,
#cont-link:visited {
	color: #89c9b8;
}

#home-link:hover,
#gal-link:hover,
#cont-link:hover {
	color: white;
}

#home-link:active,
#gal-link:active,
#cont-link:active{
	color: #e1ffc2;
}

 


/*========================================================================================*/
/* Gallery.HTML Page */
/*========================================================================================*/


/*========================================================================================*/
/* Contact.HTML Page */
/*========================================================================================*/


/*========================================================================================*/
/* Footers */
/*========================================================================================*/

footer {
	background-color: #393e46;
	padding: 2% 5%;
	text-align: center;
	display: flex;
}

.socials {
	margin-left: 20%;
	width: 30%;
}

.social-list{
	list-style: none;
	text-align: right;
}

.social-list li {
	display: inline-block;
	margin: 5px;
}

.site {
	color: #e1ffc2;
	font-size: 25px;
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
}

.logo-linked:hover {
	color: #0077b5;
}
.logo-git:hover {
	color: #00405d;
}
.logo-drib:hover {
	color: #ea4c89;
}
.logo-code:hover {
	color: #212121;
}

.author {
	color: #e1ffc2;
	font-weight: 100;
	display: flex;
	align-items: center;
}

.headshot {
	width: 15%;
	display: block;
	margin-right: 10px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}

.copyright {
	color: #e1ffc2;
	align-content: flex-end;
	justify-content: center;
	margin-top: auto;
	margin-bottom: 0;
	font-weight: 100;
	font-size: 12px;
}


/*========================================================================================*/
.filler {
	background-color:white;
	text-align: center;
	padding: 7% 15%;
}